.productList .search-product-box {
  width: 50%;
  margin: 20px auto;
  height: 40px;
  border-radius: 15px;
  border: 1px solid skyblue;
  padding-left: 20px;
}
.productList ul li {
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}
.productList {
  text-align: center;
}
.productList .cardsMain{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}