*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-ul {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: skyblue;
}
.logo{
  height: 100%;
  width: 15%;
}
.logo img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.nav-right{
  display: flex;
  justify-content: flex-end;
}
.nav-ul li{
  display:  inline-block;
  padding: 10px;
}
.nav-ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
.footer {
  position: absolute;
  bottom: 0;
  background-color: skyblue;
  width: 100%;
  text-align: center;
}
.register, .product{
  margin-left: 30%;
}
.login{
  margin-left: 30%;
  margin-left: 100px;
}

.inputBox {
  padding: 7px;
  display: block;
  border: 1px solid skyblue;
  width: 300px;
  margin: 20px;
}
.appButton {
  margin: 20px;
  width: 150px;
  padding: 10px;
  background-color: skyblue;
  border: solid 1px;
  cursor: pointer;
}
.invalid-input{
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 20px;
}
.product-list{
  text-align: center;
  margin: 50px;
}
.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}